# Dependencies
node_modules/

# Environment variables
.env

# Build artifacts (if any are generated here)
dist/
build/

# Logs and system files
npm-debug.log*
.DS_Store

# Firebase Admin SDK
*.json
firebase-adminsdk-*.json
