@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

.font-gelasio {
  font-family: "Gelasio", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

@layer base {
  * {
    @apply m-0 p-0 box-border text-base outline-purple-500/30;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    font-family: "Inter", sans-serif;
    @apply font-normal text-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-purple-500/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  #textEditor h2,
  h2 {
    font-family: "Inter", sans-serif;
    @apply text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug;
  }

  #textEditor h3,
  h3 {
    font-family: "Inter", sans-serif;
    @apply text-3xl leading-loose max-md:text-2xl max-md:leading-normal;
  }

  #textEditor *,
  .blog-page-content * {
    font-family: "Gelasio", sans-serif;
    @apply text-xl leading-10 md:text-2xl;
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-purple-600 underline hover:opacity-50;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }
}

@layer components {
  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-20 border-b border-gray-200 bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize;
  }

  .btn-light {
    @apply whitespace-nowrap bg-gray-200 text-black rounded-full py-3 px-6 text-xl capitalize;
  }

  .input-box {
    @apply w-full rounded-md p-4 bg-gray-200 pl-12 border border-gray-200 focus:bg-transparent placeholder:text-gray-500;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2 text-gray-500;
  }

  .link {
    @apply text-gray-600 hover:text-black hover:bg-gray-200 p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-gray-600 hover:text-black;
  }

  .sidebar-link.active {
    @apply text-black border-r-2 border-black pl-6 bg-gray-200/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
  }

  .tag {
    @apply p-3 bg-gray-200 rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-gray-400 leading-none;
  }
}
